{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "mocha": true,
    "jest": true
  },
  "rules": {
    "new-cap": [
      2, {
        "capIsNewExceptions": ["List", "Map"]
      }
    ],
    "react/prefer-stateless-function": 0,
    "react/require-default-props": 0,
    "react/no-array-index-key": 0,
    "react/jsx-wrap-multilines": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_"
      }
    ],
    "no-confusing-arrow": [
      "error",
      {"allowParens": true}
    ],
    "no-underscore-dangle": 0,
    "import/no-unresolved": 0
  }
}
