.btn {
  composes: dib bn br2 pointer btn-font;
	background: none;
	outline: none;
	transition: all 0.3s;
}

.btnDefault {
  composes: btn;
  composes: ph3 pv2 ttu fw6;
	background: var(--color-brand2);
	color: #fff;
}

.btnSmall {
  composes: btn;
  composes: ph2 pv1 fw6;
	background: var(--color-brand2);
	color: #fff;
}

.btnSmallLight {
  composes: btn;
  composes: ph2 pv1;
	color: var(--color-brand2);
  border: 1px solid var(--color-brand2);
	background: #fff;
}
.btnSmallLight:hover,
.btnSmallLight:active {
  color: white;
	background: var(--color-brand2);
}

.btnDefault:hover,
.btnDefault:active,
.btnSmall:hover,
.btnSmall:active {
  background: color(var(--color-brand2) lightness(- 5%));
  border-color: color(var(--color-brand2) lightness(- 5%));
}

.label {
  composes: pv1 fw2;
  color: var(--color-gray2);
}
