.bbb {
  /*font-family: 'Verdana';*/
}

.nunito {
  font-family: 'Nunito', sans-serif;
}

.default {
  font-family: 'Signika', sans-serif;
}

.btn-font {
  font-family: 'Signika', sans-serif;
}

.defaultFont {
  font-family: 'Signika', sans-serif;
}
